<section class="container-fluid">
  <!--<div class="checkout-box">
    <div class="price">Total</div>
    &lt;!&ndash;<div class="checkout-details">username</div>&ndash;&gt;
  </div>-->
  <div class="card-container">

    <div class="card">
      <div class="card-header price">
        <span class="price">$ 80,000</span>
      </div>
      <div class="card-body">

        <form novalidate [formGroup] = "credentialsForm">

          <div class="form-group">
            <input formControlName="account_number" class="form-control" placeholder="Numero de la cuenta">
          </div>
          <div class="form-group">
            <input formControlName="password" class="form-control" placeholder="Contraseña">
          </div>
          <small *ngIf="error">La cuenta o la contraseña ingresada es incorrecta</small>

          <div class="button ml-auto mb-1" (click)="onSubmit()">
            <i class="fa fa-check"></i>
          </div>

        </form>

      </div>
    </div>
  </div>

</section>
