$background-color: #C8CCCF;
$btn-dim-refuse-color: #FE666F;
$btn-refuse-color: #F04A54;
$btn-accept-color: #79B162;
$title-color: #303D54;
$text-color: #848CA0;
$label-color: #424144;
$text-size: 15px;
$medium-text-size: 14px;
$small-text-size: 13px;

section {
  height: 100%;
  background: $background-color;

  .delivery-list {
    padding-top: 2em;

    .card {
      width: 50%;
      box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1);

      border: none;
      margin: {
        top: 3em;
        right: 1em;
      };

      .card-header {

        .id {
          letter-spacing: 1px;
          padding-top: 5px;
          font-size: $text-size;
          color: $text-color;
        }

        i {
          font-size: 15px;
        }
      }

      .card-body {

        .label {
          color: $label-color;
          font-size: $small-text-size;
        }

        .total-label {
          color: $label-color;
          font: {
            weight: bold;
            size: $text-size;
          }
        }

        .price {
          letter-spacing: 3px;
          color: $title-color;
          font-size: $medium-text-size;
        }

        .total-price {
          letter-spacing: 3px;
          color: $title-color;
          font-weight: bold;
        }
      }

      .card-footer {

        button {
          cursor: pointer;
          padding: 5px 29px;
          margin-left: 0.5em;
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
          border: {
            style: none;
            radius: 10px;
          };
        }

        .accept {
          background: white;

          &:hover {
            background: $btn-accept-color;
            color: white;
          }
        }

        .refuse {
          color: white;
          background: $btn-dim-refuse-color;

          &:hover {
            background: $btn-refuse-color;
          }
        }
      }
    }
  }
}
