$divider: #CCD0D5;
$title-color: #303D54;
$title-size: 20px;
$balance-color: #303D54;
$text-color: #848CA0;
$content-size: 17px;

.credentials {
  margin-top: 15em;

  input {
    width: 25.5em;
  }

  .account {
    margin-left: 10em;
  }

  .password {
    margin-left: 11em;
  }

  button {
    margin-left: 11em;
    padding: {
      left: 1em;
      right: 1em;
    };
  }
}

.results {

  .balance {
    margin-top: 5em;
    color: $title-color;
    font-size: $title-size;
  }

  .list {
    margin-top: 2em;

    .list-item {
      padding: {
        left: 2em;
        right: 2em;
      };

      border-bottom: {
        style: solid;
        color: $divider;
        width: 1px;
      };

      .content {
        margin: {
          bottom: 1.5em;
          top: 1em;
        }

        .date {
          color: $text-color;
          letter-spacing: 2px;
        }

        .place {
          position: relative;
          top: 20px;
          left: -65px;
          color: #FFB367;
        }

        .price {
          color: $balance-color;
          font-size: $content-size;
          font-weight: bold;
        }
      }
    }
  }
}


