
<section>

  <div class="container" >

    <div class="row justify-content-center login-card">

      <div class="col-md-4">

        <div class="card">
          <div class="card-body">

            <div class="title">
              INGRESAR
            </div>
            <div class="title-body">
               <label class="form-input">
                  <i class="material-icons">person</i>
                  <input type="text" autofocus="true" required />
                  <span class="label">Nombre de usuario</span>
                 <div class="underline"></div>
                </label>

              <label class="form-input">
                <i class="material-icons">vpn_key</i>
                <input type="password" required />
                <span class="label">Clave</span>
                <div class="underline"></div>
              </label>

              <div class="submit-container clearfix" style="margin-top: 2rem;">
               <div id="submit" role="button" type="button" class="btn btn-irenic float-right" tabindex="0">
                 <span> INGRESAR</span>
               </div>
                <div class="login-pending">
                  <div class=spinner>
                  <span class="dot1"></span>
                    <span class="dot2"></span>
                  </div>
                  <div class="login-granted-content">
                    <i class="material-icons">done</i>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

