section {
  width: 100%;
  height: 100%;
  background: #263238;
}

.login-card {
  padding-top: 5em;

  .card-body {
    border-top: 5px solid #00e676;
  }

  .title {
    text-align: center;
    color:  #616161;
    font-size: 25px;
    font-weight: 600;
    margin: 2em 0;
  }
}
