
<!-- todo: add a title -->

<section class="row-section">
  <div class="container">
    <div class="row-block">
      <ul>
        <li>
          <!-- todo: use the grid sistem for each row, and add a modifiable quantity field -->
          <div class="media">
            <div class="media-left align-self-center">
                <img src="https://static.pexels.com/photos/109555/pexels-photo-109555.jpeg?h=200&auto=compress&cs=tinysrgb">
            </div>
            <div class="media-body">
              <h4>Item</h4>
              <p>item description</p>
            </div>
            <div class="media-right align-self-center">
              <div class="row">
                <div class="col">
                  <a>$ 77.700</a>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="media">
            <div class="media-left align-self-center">
              <img src="https://static.pexels.com/photos/325871/pexels-photo-325871.jpeg?h=100&auto=compress&cs=tinysrgb">
            </div>
            <div class="media-body">
              <h4>Item</h4>
              <p>item description</p>
            </div>
            <div class="media-right align-self-center">
              <a>$ 47.000</a>
            </div>
          </div>
        </li>
      </ul>

      <section class="price-section">
        <div class="row ml-auto">
          <div class="col-sm-9"></div>
          <div class="col">
            <div class="d-flex justify-content-end">
              <div class="tag mr-auto">Sub total</div>
              <div class="value">$87.400</div>
            </div>

            <div class="d-flex justify-content-end">
              <div class="tag mr-auto">Envio</div>
              <div class="value">$15.000</div>
            </div>

            <div class="d-flex justify-content-end">
              <div class="tag mr-auto">Descuento</div>
              <div class="value">-$7.000</div>
            </div>

            <div class="d-flex justify-content-end">
              <div class="tag mr-auto">Total</div>
              <div class="total value">$81.900</div>
            </div>
          </div>
        </div>
      </section>

      <hr style="background: #263238">

      <div class="row">
        <div class="footer ml-auto">
          <button class="btn btn-continue">Seguir comprando</button>
          <button class="btn btn-checkout">Comprar</button>
        </div>
      </div>


    </div>
  </div>
</section>
