
<!-- todo: add a title -->

<section class="row-section">
  <div class="container">
    <div class="row-block">
      <ul>
        <ng-container *ngFor="let vendors of batch">
          <ng-container *ngFor="let product of vendors.products">
            <li>
              <!-- todo:  add a modifiable quantity field -->

              <div class="media">
                <div class="media-left align-self-center">
                      <img src="http://localhost:3000/{{product.image}}">
                </div>
                <div class="media-body">
                  <h4>{{product.name}} <small>{{product.vendorName}}</small></h4>
                  <p>{{product.description}}</p>
                </div>
                <div class="media-right align-self-center">
                  <div class="row">
                    <div class="col">
                      <a>$ {{product.price | number:'.0-2'}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ng-container>
        </ng-container>
        <!-- todo: get the index and call a method to modify the new price-->
      </ul>

      <section class="price-section">

        <div class="row ml-auto">

          <div class="col-sm-9">
            <section class="coupon-section">

              <span class="shipping">Envio domiciliario: </span>
              <label class="switch">
                <input type="checkbox" checked (click)="onCheckboxClicked()">
                <span class="slider round"></span>
              </label>

              <div class="row coupon-list" *ngIf="vendorsIds.length">

                <div class="col-md-auto mr-0">
                  <span class="coupon-tag">Tienes cupones de: </span>
                </div>

                <div class="col-6 pl-0" >
                  <a class="btn btn-coupon" *ngFor="let vendor of vendorsIds; let i = index"
                  (click)="onCouponClicked(vendor, i)" [ngClass]="{'dismissed' :  !vendorsCoupon[i]}">{{vendorsName[i]}} </a>
                </div>

              </div>

            </section>
          </div>

          <div class="col">
            <div class="mt-auto">

              <div class="d-flex justify-content-end">
                <div class="tag mr-auto">Sub total</div>
                <div class="value">${{subtotalPrice | number:'.0-2'}}</div>
              </div>

              <div class="d-flex justify-content-end">
                <div class="tag mr-auto">Envio</div>
                <div class="value">${{shipping | number:'.0-2'}}</div>
              </div>

              <div class="d-flex justify-content-end">
                <div class="tag mr-auto">Descuento</div>
                <div class="value">-${{discount | number:'.0-2'}}</div>
              </div>

              <div class="d-flex justify-content-end">
                <div class="tag mr-auto">Total</div>
                <div class="total value">${{totalPrice | number:'.2-2'}}</div>
              </div>

            </div>
          </div>
        </div>
      </section>

      <hr style="background: #C8CCCF">

      <div class="row">
        <div class="footer ml-auto">
          <button class="btn btn-continue" (click)="goBack()">Seguir buscando</button>
          <button class="btn btn-checkout" (click)="buyProducts(content)">Comprar</button>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- todo: use a component instead of a template-->
<ng-template #content let-c="close">
  <div class="modal-body message">
    <span class="title">Tu compra se ha realizado con exito</span>
    <span class="hint" *ngIf="shipping === 0">¡Ven y reclama tus productos!</span>
    <span class="hint" *ngIf="shipping !== 0">¡El pedido llegara a tu casa en menos de 1 hora!</span>
    <a (click)="goBack(); c()" class="btn btn-continue">Continuar</a>
  </div>
</ng-template>

