<div>
  <nav class="navbar navbar-light navbar-expand-md">

    <div class="navbar-nav ml-auto">
      <i class="fa fa-shopping-cart"></i>
    </div>
  </nav>
</div>

<section>
  <div class="container">
    <div class="row">
        <div class="col-sm-4" *ngFor="let product of products">

          <div class="card custom-card">
            <img class="card-img-top"
                 src="https://wallpaperscraft.com/image/figures_black_gray_pictures_63646_1920x1080.jpg"
                 alt="Card image cap">

            <div class="card-body">
              <span class="badge-box"><i class="fa fa-plus"></i></span>
              <h4 class="card-title">{{product.name}}</h4>
              <p>45.0000 <i class="fa fa-usd"></i></p>

              <div class="row">
                <div class="mr-auto"></div>
                <div class="details">
                  <a href="#" class="btn btn-default text-uppercase">Comprar</a>
                  <i class="fa fa-shopping-cart"></i>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</section>
