<div class="row no-gutters">
  <div class="col-sm-12 search-list">
    <div class="header d-flex flex-column align-items-center">
      <span class="message mb-2">Numero de la Cuenta</span>
      <!-- 1016200586 -->
      <input title="card-number" class="form-control search-bar" (keyup.enter)="onSubmitAccount($event)">
    </div>
    <div class="list">

      <div *ngIf="showMessage">
        <span class="message d-flex justify-content-center">{{message}}</span>
      </div>

      <div class="input-container ml-auto mb-2" *ngIf="showInput">
        <i class="fa fa-plus"></i>
        <input type="text" placeholder="Credito" id="credit" (keyup.enter)="onSubmitCredit($event)">
      </div>

      <div *ngFor="let transaction of transactions" class="list-item">
        <div class="content">
          <span class="date">{{getDate(transaction.date)}}</span>
          <span class="price float-right">{{getValue(transaction.value, transaction.type)}}</span>
        </div>
      </div>

    </div>
  </div>
  <!--<div class="col new-credit">
  </div>-->
</div>
