$background-color: #2A2E31;
$header-color: #C3CCCB;
$icon-color: #F08655;
$font-size: 2.2em;
$font-title-size: 18px;

.window {
  margin-left: 0;
  margin-right: 0;
}

.side-menu {
  position: fixed;
  width: 90px;
  height: 100%;
  background-color: $background-color;

  .navbar-nav {
    margin-top: 5em;

    .nav-item {
      outline: none;
      margin: {
        top: 1.5em;
      };
    }

    i {
      transition: all .2s ease-in-out;
      cursor: pointer;
      font-size: $font-size;
      color: $icon-color;

      &:hover {
        transform: scale(1.3);
      }
    }
  }
}


.side-body {
  margin-left: 75px;
  height: 100%;

  .row {
    margin-right: 0;
    position: relative;
    width: 100%;
    height: auto;
    background-color: rgba($header-color, 0.3);

    .float-right {
      // pull down
      padding: {
        top: 3em;
        right: 1em;
      }
      border-right: {
        style: solid;
        width: 7px;
        color: $background-color
      };

      // pull up from the right corner
      .box {
        position: relative;
        top: -1.5em;

        span {
          position: relative;
          top: -0.2em;
          padding-right: 0.5em;
          font-size: $font-title-size;
        }

        i {
          font-size: $font-size;
        }
      }
    }
  }
}
