<div class="window">
  <div class="side-menu">

    <nav class="navbar-nav">

      <div class="nav-item d-flex justify-content-center" [routerLink]="['new']">
        <i class="fa fa-credit-card-alt"></i>
      </div>

      <div class="nav-item d-flex justify-content-center">
        <i class="fa fa-pencil-square-o"></i>
      </div>

    </nav>

  </div>

  <div class="container-fluid mr-0 pr-0">
    <div class="side-body">

      <div class="row no-gutters header">
        <div class="col">
          <div class="float-right">

            <div class="box">
              <span>David J.</span>
              <i class="fa fa-user-circle-o"></i>
            </div>

          </div>
        </div>
      </div>

      <router-outlet></router-outlet>

    </div>
  </div>
</div>
