<section>
  <div class="d-flex flex-column align-items-center">
    <!-- todo: use a basic authentication -->
    <!--<form></form>-->
    <div class="login-container">
      <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">

        <span class="d-flex justify-content-center title">¡Bienvenido!</span>
        <input formControlName="username" class="form-control" title="username" placeholder="Username"/>
        <input type="password"formControlName="password" class="form-control" title="password" placeholder="Password"/>

        <div class="d-flex justify-content-center">
          <button class="submit">Ingresar</button>
        </div>
        <span *ngIf="errmess" class="error">Incorrect username or password</span>

      </form>
    </div>

    <div class="footer">
      <!--<div class="line">
        <span>Si eres un usuario regular puedes consultar el numero de tu cuenta &nbsp;</span><span class="link">aqui</span>
      </div>-->
      <div class="line">
        <span>Si eres un usuario regular y si quieres consultar el historial de tus
          transacciones, lo puedes hacer &nbsp;</span><span class="link" routerLink="/transactions-record">aqui</span>
      </div>
    </div>
  </div>
</section>
