<section>
  <div class="d-flex flex-column align-items-center">
    <!-- todo: use a basic authentication -->
    <!--<form></form>-->
    <div class="login-container">
      <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">

        <span class="title">¡Bienvenido!</span>
        <input formControlName="username" class="form-control" title="username" placeholder="Username"/>
        <input formControlName="password" class="form-control" title="password" placeholder="Password"/>

        <button class="submit ">Ingresar</button>
        <span *ngIf="errmess" class="error">Incorrect username or password</span>

      </form>
    </div>

    <div class="footer">
      <!--<div class="line">
        <span>Si eres un usuario regular puedes consultar el numero de tu cuenta &nbsp;</span><span class="link">aqui</span>
      </div>-->
      <div class="line">
        <span>Si eres un usuario regular y si quieres consultar el historial de tus transacciones, lo puedes hacer &nbsp;</span><span class="link">aqui</span>
      </div>
    </div>
  </div>
</section>
