<section>
  <div class="d-flex flex-column align-items-center">
    <!-- todo: use a basic authentication -->
    <!--<form></form>-->
    <div class="login-container">
      <span class="title">¡Bienvenido!</span>
      <input class="form-control" title="username" placeholder="Username"/>
      <input class="form-control" title="password" placeholder="Password"/>

      <button class="submit ">Ingresar</button>
    </div>

    <div class="footer">
      <div class="line">
        <span>Si eres un usuario regular puedes consultar el numero de tu cuenta</span><span class="link"> aqui</span>
      </div>
      <div class="line">
        <span>Si quieres consultar el historial de tus transacciones, lo puedes hacer</span><span class="link"> aqui</span>
      </div>
    </div>
  </div>
</section>
