<div class="row">
  <!-- uncomment code for absolute positioning tweek see top comment in css -->
  <!-- <div class="absolute-wrapper"> </div> -->
  <!-- Menu -->
  <div class="side-menu">

    <div class="mt-5"></div>

    <nav class="navbar-nav">
      <div class="nav-item"><i class="fa fa-eye"></i>Inventario</div>
      <div class="nav-item"><i class="fa fa-ticket"></i>Cupones</div>
      <div class="nav-item"><i class="fa fa-th"></i>Reportes</div>
    </nav>

  </div>

  <div class="container-fluid">
    <div class="side-body">
      <!-- todo: set a route here-->
      <div class="card mt-3">
        <div class="card-header">This is your current inventory</div>
      </div>

      <div class="circle onMouseOver" routerLink="/new"><i class="fa fa-file" ></i></div>
    </div>
  </div>
</div>
