<div class="row">
  <!-- uncomment code for absolute positioning tweek see top comment in css -->
  <!-- <div class="absolute-wrapper"> </div> -->
  <!-- Menu -->
  <div class="side-menu">

    <div class="mt-5"></div>

    <nav class="navbar-nav">
      <div class="nav-item"><i class="fa fa-eye"></i>Inventario</div>
      <div class="nav-item"><i class="fa fa-ticket"></i>Cupones</div>
      <div class="nav-item"><i class="fa fa-th"></i>Reportes</div>
    </nav>

  </div>

  <div class="container-fluid">
    <div class="side-body">

      <router-outlet></router-outlet>

    </div>
  </div>

</div>
