
<section>
  <div class="container">

    <div class="row">
      <div class="col-sm-8 mx-auto">

        <div class="row mt-5 mb-5">
          <div>
            <a class="btn btn-default" routerLink="/dashboard">
              <i class="fa fa-long-arrow-left left-arrow-icon" ></i>
              <span>VOLVER</span>
            </a>
          </div>
          <div class="mx-auto">
            <i class="fa fa-bars bars-icon"></i>
          </div>
        </div>

        <div class="row">
          <div class="col">

            <form novalidate [formGroup]="productForm">
              <div class="card">
                <div class="card-body">
                  <i class="fa fa-shopping-bag"></i>
                  <span class="title">TU ARTICULO </span>
                </div>
                <div class="header"></div>
                <div class="card-body">

                  <div class="sub-header mt-4">
                    <span class="step">1</span>
                    <span class="title">Ingresa el nombre del articulo</span>
                  </div>
                  <div class="form-group">
                    <input class="form-control">
                  </div>

                  <div class="sub-header">
                    <span class="step">2</span>
                    <span class="title">Sube una imagen</span>
                  </div>
                  <div class="form-group">
                    <a class="btn btn-upload">
                      <i class="fa fa-cloud-upload upload-icon"></i>
                      <span>Adjunta el archivo</span>
                    </a>
                  </div>

                  <div class="sub-header">
                    <span class="step">3</span>
                    <span class="title">Escribe los detalles</span>
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" placeholder="detalles especiales del producto"></textarea>
                  </div>

                  <div class="row row-padding" >
                    <div class="col-sm-5">
                      <label>Precio</label>
                      <input class="form-control" placeholder="$ 0">
                    </div>
                    <div class="col-sm-3">
                      <label>Cantidad</label>
                      <input class="form-control" placeholder="0">
                    </div>
                  </div>
                </div>

                <div class="footer ml-auto">
                  <button type="button" class="btn btn-submit" (click)="onSubmit()">PUBLICAR</button>
                  <button class="btn btn-cancel">CANCELAR</button>
                </div>
              </div>
            </form>

          </div>
        </div>

      </div>
    </div>

  </div>
</section>
