<div class="card mt-3">
  <!--<div class="card-header">This is your current inventory</div>-->
  <div class="card-body">
    <ul>
      <li class="row header">
        <div class="col-sm-10">NOMBRE</div>
        <div class="col-sm-1 price">PRECIO</div>
        <div class="col-sm-1 stock">STOCK</div>
      </li>
      <li class="row item" *ngFor="let product of products">
        <div class="col-sm-10">{{product.name}}</div>
        <div class="col-sm-1">{{product.price}}</div>
        <div class="col-sm-1">{{product.quantity}}</div>
      </li>
    </ul>
  </div>

</div>

<div class="circle onMouseOver" routerLink="/new"><i class="fa fa-file" ></i></div>
